header {
    background: var(--clr-light-orange);
    color: var(--clr-white);

    a {
        cursor: pointer;
        user-select: none;
    }
}



.header-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;
    border-bottom: 1px solid var(--clr-light-gray);

    .header-container-top-l {
        ul {
            display: flex;
            align-items: center;

            li {
                padding: 0 1rem;
                font-size: 11px
            }

            li:nth-child(1),
            li:nth-child(2) {
                border-right: 1px solid var(--clr-light-gray);
            }

            li:last-child {
                margin-left: -10px;
            }


        }
    }

    .header-container-top-r {
        ul {
            display: flex;
            align-items: center;
            gap: 1;

            li {
                padding: 0 1rem;
                font-size: 11px;

                i {
                    margin-right: 5px;
                }
            }

            li:nth-child(1),
            li:nth-child(2) {
                border-right: 1px solid var(--clr-light-gray);
            }
        }
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0;

    .header-container-bottom-l {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            color: var(--clr-white);
            font-weight: 300;
            font-size: small;
        }

        a {
            display: flex;
            align-items: center;
            gap: 4px;

            .bag,
            .snap {
                font-weight: bold;
                font-size: 18px;
            }


        }
    }

    .header-container-bottom-m {
        width: 100%;

        .input-container {
            position: relative;
            width: 100%;

            input {
                width: 100%;
                font-size: 11px;
                padding: 5px 10px;
            }

            .auto-complete {
                display: none;
                position: absolute;
                background: var(--clr-white);
                width: 100%;
                color: black;
                z-index: 10;
                padding: 1rem;
                box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.16);
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                max-height: 300px;
                overflow: auto;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 0.4rem;

                    li {
                        width: 100%;
                        padding: 0.5rem 0;

                    }

                    li a.link {
                        position: relative;
                        width: 100%;
                        background-color: transparent;
                        font-size: small;
                        color: rgb(107, 107, 107);
                        transition: 0.2s;
                        display: block;
                        text-align: start;
                    }

                    li a.link:hover {
                        cursor: pointer;
                        font-size: medium;
                        color: var(--clr-orange);
                    }
                }
            }

            .auto-complete[data-show=true] {
                display: block;
            }

            .auto-complete::-webkit-scrollbar {
                width: 5px;
            }

            .auto-complete::-webkit-scrollbar-track {
                background: var(--clr-light-gray);
                border-radius: 50px;
            }

            .auto-complete::-webkit-scrollbar-thumb {
                background: var(--clr-light-orange);
                border-radius: 50px;

            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 2px;
                right: 2px;
                background: var(--clr-orange);
                width: 30px;
                height: calc(100% - 4px);
                font-size: 14px;
                color: var(--clr-white);
            }
        }

        .category {
            margin-top: 5px;

            ul {
                display: flex;
                align-items: center;

                li {
                    padding: 0 1rem;
                    font-size: 11px;

                }

                li:first-child {
                    padding-left: 0px;
                }
            }
        }
    }

    .header-container-bottom-r {
        a {
            position: relative;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5px;
                height: 5px;
                position: absolute;
                top: 0;
                right: 0;
                background: var(--clr-light-gray);
                color: var(--clr-black);
                padding: 8px;
                border-radius: 50%;
                font-size: 10px;
                transform: translate(40%, -40%);

            }



        }

        .cart-model {

            padding: 2rem;
            position: absolute;
            right: 15px;
            /* top: ; */
            background: white;
            width: 300px;
            height: fit-content;
            display: none;
            flex-direction: column;
            gap: 1rem;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.096);
            color: black;
            z-index: 10;

            h1 {
                font-size: small;
                color: rgba(0, 0, 0, 0.6);
                text-align: center;
            }

            .product-list-added {
                width: 100%;

                .product-list-added-content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    border-bottom: 1px solid rgba(226, 226, 226, 0.559);

                    .img-title {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .img-cover {
                            width: 5rem;
                            height: 5rem;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .title-added {
                            font-size: small;
                            color: rgba(0, 0, 0, 0.6)
                        }

                    }

                    .price {
                        font-size: small;
                        color: rgb(255, 142, 100);
                    }
                }
            }

            .btn {
                min-width: 60%;
                align-self: flex-end;

                a {
                    padding: 0.5rem 2rem;
                    font-size: small;
                    color: var(--clr-light-gray);
                    width: 100%;
                    background-color: var(--clr-orange);
                }
            }
        }
    }

    .header-container-bottom-r:has(a:hover),
    .header-container-bottom-r:has(.cart-model:hover) {

        .cart-model {
            display: flex;
        }

    }


}


@media (max-width:605px) {
    .header-container-top {
        flex-direction: column;
    }
}

@media (max-width:878px) {
    .header-container-bottom-m {
        .category {
            display: none;
        }
    }
}